## Connecting to a local database using sqlalchemy

### Importing Libraries

In [42]:
import sqlalchemy 
from getpass import getpass
from creds import *
import pandas as pd

### Creating a connection

Try to keep your password and credentials in a different folder

In [43]:
def get_connection():
    return sqlalchemy.create_engine(
        url="mysql+pymysql://{0}:{1}@{2}:{3}/{4}".format(
            user, password, host, port, database
        )
    )
 
if __name__ == '__main__':
 
    try:
       
        # GET THE CONNECTION OBJECT (ENGINE) FOR THE DATABASE
        engine = get_connection()
        print(
            f"Connection to the {host} for user {user} created successfully.")
    except Exception as ex:
        print("Connection could not be made due to the following error: \n", ex)

Connection to the 127.0.0.1 for user root created successfully.

### Connect to the engine

In [44]:
# connection = engine.connect()
# connection

### Create a cursor

Breaking down steps below

1. You need to make a connection to the engine

2. You need to use the execute method and use the test

In [45]:
# print(connection.execute(alc.text("SELECT 1")).all())

with engine.connect() as conn:
    result = conn.execute(sqlalchemy.text("SELECT * FROM offices"))
    # offices = list(result)

### A way to find all of the tables that are within the database

In [46]:
inspector = sqlalchemy.inspect(engine)
table_names = inspector.get_table_names()
print(table_names)

['customers', 'employees', 'offices', 'orderdetails', 'orders', 'payments', 'productlines', 'products']

### Extracting the column names so you don't need to manually then for the df

In [47]:
metadata = sqlalchemy.MetaData()
# print(metadata.info(offices).
table = sqlalchemy.Table('offices', metadata, autoload_with=engine)
# print(table)
offices = table.columns.keys()
# print(table.columns)
# print(metadata.tables)

C:\Users\graem\AppData\Local\Temp\ipykernel_14748\875736976.py:3: SAWarning: Did not recognize type 'point' of column 'officeLocation'
  table = sqlalchemy.Table('offices', metadata, autoload_with=engine)

In [48]:
df = pd.DataFrame(result, columns=offices)
print(df)

  officeCode           city             phone              addressLine1  \
0          1  San Francisco   +1 650 219 4782         100 Market Street
1          2         Boston   +1 215 837 0825          1550 Court Place
2          3            NYC   +1 212 555 3000      523 East 53rd Street
3          4          Paris   +33 14 723 4404  43 Rue Jouffroy D'abbans
4          5          Tokyo   +81 33 224 5000               4-1 Kioicho
5          6         Sydney   +61 2 9264 2451     5-11 Wentworth Avenue
6          7         London  +44 20 7877 2041       25 Old Broad Street

  addressLine2       state    country postalCode territory  \
0    Suite 300          CA        USA      94080        NA
1    Suite 102          MA        USA      02107        NA
2      apt. 5A          NY        USA      10022        NA
3         None        None     France      75017      EMEA
4         None  Chiyoda-Ku      Japan   102-8578     Japan
5     Floor #2         NSW  Australia       2010      APAC
6      Level 7        None         UK   EC2N 1HN      EMEA

                                      officeLocation
0  b'\xe6\x10\x00\x00\x01\x01\x00\x00\x00\xd3\xda...
1  b'\xe6\x10\x00\x00\x01\x01\x00\x00\x00\xc4\x0b...
2  b'\xe6\x10\x00\x00\x01\x01\x00\x00\x00-\xea\x9...
3  b'\xe6\x10\x00\x00\x01\x01\x00\x00\x00\xb8\x91...
4  b'\xe6\x10\x00\x00\x01\x01\x00\x00\x00N\x0e\x9...
5  b'\xe6\x10\x00\x00\x01\x01\x00\x00\x00m\x1a\xd...
6  b'\xe6\x10\x00\x00\x01\x01\x00\x00\x00/\xf7\xc...

### Using %sql and %%sql

In [49]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [50]:
conn_str = "mysql+pymysql://{0}:{1}@{2}:{3}/{4}".format(user, password,'localhost', port, database)
print(conn_str)

mysql+pymysql://root:Rachael510!@localhost:3306/classicmodels

## IDK why this is sql magic isn't working

In [51]:
%sql {conn_str}

MetaData.__init__() got an unexpected keyword argument 'bind'
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [52]:
%sql SELECT officeCode, city, phone FROM offices;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])